<div class="arrow-panel">
    <div class="bot">
        <div class="bot-image bot-image__bottom"></div>
        <div class="panel">
            <p>
                There are currently an estimated <strong class="employment-panel__highlighted" id="employment-panel--total"></strong> <span id="employment-panel--job"></span> working in the&nbsp;UK.
            </p>
        </div>
        <div class="bot-image bot-image__top"></div>
    </div>
</div>
