<div class="employment-chart">
    <h2>Your job in 2015</h2>
    <h3>Number employed in thousands</h3>
    <div class="employment-chart--wrapper">
        <svg class="employment-chart--svg"></svg>
    </div>
</div>
