<div class="employment-figures">
    <div class="figure figure__user">
        <strong id="figure-display__med-salary">£35,000</strong>
        <p>Average full-time salary for <span id="figure-display__user-job"></span> in 2014</p>
    </div>
    <div class="figure figure__avg">
        <strong>£27,195</strong>
        <p>UK average full-time salary (all jobs) in 2014</p>
    </div>
</div>
