<div class="text-section--row">
    <div class="text-section--col text-section--col__1 text-section--col__text">
        <h2>What makes a job susceptible to automation?</h2>

        <p>Certain aspects of a job are simpler to <a href="http://www.bbc.co.uk/news/technology-33629465" target="_blank">automate than others</a>.</p> 

        <p>Social workers, nurses, therapists and psychologists are among the least likely occupations to be taken over as assisting and caring for others, which involves empathy, is a crucial part of the job.</p> 

        <p>Roles requiring employees to think on their feet and come up with creative and original ideas, for example artists, designers or engineers, hold a significant advantage in the face of automation.</p>

        <p>Additionally, occupations involving tasks that require a high degree of social intelligence and negotiating skills, like managerial positions, are considerably less at risk from machines according to the study.</p>

    </div>
    <div class="text-section--col text-section--col__2 text-section--col__robot">
        <img class="robot-image" src="img/robot-01.gif" alt="Your job is safer if you negotiate, help others or come up with original ideas." />
    </div>
</div>
<div class="text-section--row">
    <div class="text-section--col text-section--col__2 text-section--col__text">
        <p>In contrast, while certain sales jobs like telemarketers and bank clerks may involve interactive tasks they do not necessarily need a high degree of social intelligence, leaving them exposed to automation.</p>

        <p>As more advanced industrial robots gain improved senses and the ability to make more coordinated finger and hand movements to manipulate and assemble objects, they will be able to perform a wider range of increasingly complex manual tasks. </p>

        <p>However, manipulation in unstructured environments — like the tasks that must be performed by a house cleaner — are still beyond  the scope of automation for the foreseeable future.</p>

        <p>Sophisticated algorithms are challenging a number of office and administrative support roles, particularly in legal and financial services. </p>

        <p>Machines are already beginning to take on a number of tasks carried out by legal professionals by scanning thousands of documents to assist in pre-trial research. </p>

    </div>
    <div class="text-section--col text-section--col__1 text-section--col__robot">
        <img class="robot-image" src="img/robot-02.gif" alt="Your job is higher risk of automation if you assemble objects, squeeze into small spaces or manipulate small objects." />
    </div>
</div>
