<div class="user-input">
    <h2 class="user-input--title">I am a...</h2>
    <div class="user-input--inputs">
        <div class="user-input--autocomplete">
            <input type="text" id="user-input--text-input" class="user-input--text-input" />
            <p class="user-input--help">Can't find your job? <a href="#" class="user-input--toggle">Browse the full list</a></p>
        </div>
        <div class="user-input--dropdown">
            <p class="user-input--help">Rather search by typing? <a href="#" class="user-input--toggle">Back to job search</a></p>
            <select class="user-input--dropdown-input">
                <option selected="selected" value="default">All jobs</option>
            </select>
        </div>
    </div>
    <hr/>
    <button class="user-input--submit disabled">Find out my automation risk</button>
</div>
