//ROBOTS.CSS
$media-queries: true;
@import '../../../base/css/sass/settings/breakpoints', '../../../base/css/sass/tools/css3/break', '../../../base/css/sass/base/grid';

.calculator {
    background: #ededed;
    margin-top: 1.75rem;
    padding-bottom: 56.25%;
    min-height: 0;
    width: 100%;
}

.wider {
    display: block;
    height: 0;
    text-indent: -9999em;
    width: 0;

    @media (min-width: 600px) {
        display: inline;
        height: auto;
        text-indent: 0;
        width: auto;
    }
}

.story--wide .full-list {
    margin: 0 1.5rem;

    @media (min-width: 600px) {
        margin: 0 auto;
    }
}

.story-intro {
    max-width: 40rem;
}

.table-outer-wrapper table {
    transition: opacity .5s ease;
    opacity: 1;
}

.moving tbody tr:nth-child(2n-1) {
    background: transparent;
}

.moving tr {
    transition: background .2s ease;
}

.table-outer-wrapper .moving {
    opacity: .2;
}

.job-finder {
    background: #ededed;
    margin-bottom: .25rem;
    position: relative;
    padding: .75rem;
    
    @media (min-width: 480px) {
        padding: .75rem 5rem .75rem 6.5rem;
    }
}

.job-finder label {
    @media (min-width: 480px) {
        position: absolute;
        left: 1rem;
        top: 1.3rem;
    }
}

.job-finder input {
    margin-bottom: .5rem;

    @media (min-width: 480px) {
        margin: 0;
    }
}

.job-finder button {
    float: right;
    margin: 0;

    @media (min-width: 480px) {
        float: none;
        position: absolute;
        right: .75rem;
        top: .75rem;
    }
}

// .my-job td {
//     background: #007f7f;
//     color: #fff;
// }

td {
    transition: background-color .6s ease;
}

.most td,
.least td,
.mine td {
    background: #c4e0e0;
}

.job-table-nav {
    margin-top: .75rem;
    padding-bottom: .25rem;
    border-bottom: 1px solid #ccc;
    position: relative;
    padding-left: 5rem;
}

.job-table-nav button {
    margin: 0 .5rem .5rem 0;
}

.job-table-nav p {
    font-weight: bold;
    padding: .6rem .5rem 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.table-wrapper {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: scroll;

    @media (min-height: 380px) {
        max-height: 285px;
    }

    @media (min-height: 480px) {
        max-height: 385px;
    }

    th {
        // position: fixed;
        // display: block;

    }
}

.table-heading {
    margin-bottom: .5rem;
}

.table-outer-wrapper {
    position: relative;
    border: 1px solid #dcdcdc;
    // padding-bottom: 2rem;
}

.table-outer-wrapper.not-scrolled:after {
    height: 6rem;
}

.table-outer-wrapper:after {
    pointer-events: none;
    position: absolute;
    opacity: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255, 255, 255, 0.8), rgba(255,255,255,1));
    content: "";
    display: block;
    height: 3rem;
    -webkit-transition: opacity .3s ease, height .6s ease;
    -moz-transition: opacity .3s ease, height .6s ease;
    -ms-transition: opacity .3s ease, height .6s ease;
    -o-transition: opacity .3s ease, height .6s ease;
    transition: opacity .3s ease, height .6s ease;
}

.table-outer-wrapper.no-fade:after {
    opacity: 0;
}

.table-wrapper {
    border: 0;
}

[id='jobs-table'] {
}

.robot1 {
    max-width: 84%;
    margin: 16px auto;
    display: block;

    @include break(320) {
        width: 265px;
    }

    @include break(480) {
        float: right;
        margin: 32px 0 16px 16px;
    }

    @include break(850) {
        margin-right: -12.5%;
    }
}

.robot2 {
    max-width: 84%;
    margin: 16px auto;
    display: block;

    @include break(320) {
        width: 250px;
    }
    @include break(480) {
        float: left;
        margin: 32px 16px 16px 0;
    }

    @include break(850) {
        margin-left: -12.5%;
    }
}

.flying {
    width: 5rem;
    position: relative;
    left: -200px;
    animation: horiz 60s infinite linear;
    // height: 300px;
}

.robot-wrapper {
    animation: vert 4s infinite ease-in-out;
}

@keyframes horiz {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(1800px, 0, 0);
    }
}

@keyframes vert {
    0%{
        transform: translate3d(0, 0, 0);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translate3d(0, 50px, 0);
    }

    0%{
        transform: translate3d(0, 0, 0);
        animation-timing-function: ease-in;
    }
}